@font-face {
  font-family: 'Connection';
  src: url('assets/fonts/connection-webfont.woff2') format('woff2'),
  url('assets/fonts/connection-webfont.woff') format('woff'),
  url('assets/fonts/connection-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}